@{
  Layout = "_Layout";
}

@model SalonOrganizer.Models.Stylist

<h4>Add a new Stylist</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)
    @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input type ="submit" value="Add New Stylist" class="btn btn-default"/>
}

<p>@Html.ActionLink("Show all Stylists", "Index")</p