@{
  Layout = "_Layout";
}

@using SalonOrganizer.Models;
@model SalonOrganizer.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients found</p>
}

@foreach (Client clients in @Model.Clients)
{
  
  <li>@Html.ActionLink($"{clients.ClientName}", "Details", "Clients", new { id = clients.ClientId })</li>

}
</ul>

<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>